<!DOCTYPE htlm>
<htlm>
	<head> 
    	<meta charset="utf-8">
        <title>Le site web!</title>+
        <meta name="author" content="Moi">
		<meta name="description" content="Mon site web sert a beaucoup de choses, comme par exemple.... euh....enfin bref, il sert!">
    </head>
	<body>
    <h1> Mon site web!!! </h1>
    
  	<p>Si vous etes malheureusement tombé sur cette pauvre excuse de site web, voilà comment il est agencé:
    	<ul>
        <li> <a href="#presentation_perso"
        		title="La presentation qu'on pourrait faire de Mr Bushnaq"> Ma presentation
                personnelle</a> histoire de bien tout divulguer sur internet </li>
        <li> <a href="#presentation_aca"
				title="Ma presentation de moi et aussi de Loup-Emile, academique" > Ma presentation, 				 version "academique"</a> pour le prof </li>        
        <li> <a href="#autre"
        		title="Toutes les autres choses qu'il y a sur ce site web, donc rien a part rien">					Autres</a> </li>
        <li> <a href="#jeu"
				title="Eh ouais y'a un jeu sur ce site web! Il est pas totallement inutile!"> Jeu pas 				  mal </a> , fait en python par moi  </li>
        
    <h2 id="presentation_perso"> Presentation personelle </h2>   
    
    	<p> Moi c'est Loup-Emile BUSHNAQ, mais vous pouvez m'appeler Loup et 1000 bouche nak. Perso j'adore jouer aux <strong> jeux videos </strong> comme <em> monopoly </em> ou <em> uno </em>, et faire du <strong> sport </strong> comme la <em> television </em> ou les <em> livres </em> .  Voici une image de moi en train de faire mon sport préferé: <img scr />
    
    <h2 id="presentation_aca"> Presentation academique</h2>
    
    <h2 id="autre"> Autre </h2>
    
    <h2 id="jeu"> Jeu python </h2>
    
    
        </ul>
    </p>
 	</body>
